// COLORS
$body-bg: #fff;
$purple-dk: #461E5F;
$purple: #609;
$orange: #FF9901;
$orange-dark: #FAB437;
$green: #9ACA41;
$white: #FFF;
$black: #000;
$red: #F00;
$yellow: #FF0;
$yellow-light: #FADC50;
$black-light: #111;
$gray-dark: #333;
$gray-md: #666;
$gray-light: #999;
$gray-feature: #F4F4F4;
$border-color: #EFEDED;
$pink: #EB3C7D;
// FONTS
// TYPOGRAPHY
$font-bold: 'ITCOfficinaSerifBold';
$font-regular: 'ITCOfficinaSerifBookRegular';
$trebuchet: 'Trebuchet MS';
$font-rob-bd: 'Roboto-Bd';
$font-rob-md: 'Roboto-Md';
$font-rob-lt: 'Roboto-Lt';
$font-rob-rg: 'Roboto-Rg';
$font-base-family: $font-rob-bd;
$font-base-size: '10px';
$line-base-line-height: '1.2em';
$link-color: #00adf3;
$link-hover-color: #00adf3;
$link-hover-decoration: 'underline';
// SIZES
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1344px;
// PATHS
$path-source: '../';
$path-node-modules: '../../node_modules/';
$path-img: '#{$path-source}img/';
$path-font: '#{$path-source}fonts/';