.header {
    height: 60px;
    width: 100%;
    ul {
        list-style: none;
        font-size: 0;
        li {
            display: inline-block;
            width: 25%;
            font-size: 16px;
            vertical-align: middle;
        }
    }
}